body {
	background-color: lightblue;
}

h1 {
	font: 30px "Century Gothic", Futura, sans-serif;
	margin: 20px;
	text-align: center
}

.post {
	margin: 30px auto;
	padding: 10px;
	width: 50%;
	background-color: #6893EA;
}

.postform {
	text-align: center;
}

table {
	margin: 0px auto;
}